@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
    font-family: monospace;
    font-size: 16px;
    white-space: pre;
}

.cursor {
    content: "_";
    animation: blink 0.5s infinite linear;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text-3d_ {
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px currentColor,
        1px 1px 1px currentColor,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}
.text-3d-power_ {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    text-shadow: 1px 0px 1px currentColor,
        1px 1px 1px currentColor,
        1px 3px 1px currentColor,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}